@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');

.map{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

svg{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.part{
    opacity: 0;
}

.part:hover{
    transition: opacity .2s ease;
    opacity: 0.8;
    cursor: pointer;
}

.description{
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.menu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.navbar{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.nav-item{
   margin: 10px;
}

.btn-primary{
    font-size: 14px;
    background-color: rgb(65, 151, 221);
      
}

.btn{
    font-size: 14px;
}

.whitefont{
    color: #ffffff;
    font-size: 14px;
}

.smallwhitefont{
    color: #ffffff;
    font-size: 10px;
}

.container-targer{
    font-size: 20px;
}

.backimage{
    height: 100%;
    background: #fff url(/media/Фон\ для\ сайта.jpg) center center/cover no-repeat;
}

.logo{
    margin: 2%;
    width: 20%;
    height: 20%;
}

.col-md-12{
    background-color: rgba(25, 105, 170, 0.904);
}

.margin{
    margin: 10px;
}

.fullmargintop{
    margin-top: 60px;
}

.allpage{
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.space{
    margin-top: 130px;
}

.space-from-header{
    margin-top: 100px;
}

.space-from-footer{
    margin-bottom: 0px;
}

.card{
    background: none;
}

.about{
    margin-left: 5em;
    margin-right: 15em;
    position: relative;
   }
   .about img{
    max-height: 100%;
       max-width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid rgba(25, 105, 170, 0.904);
   }
   .about .desc h3{
    color: rgba(25, 105, 170, 0.904);
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: rgba(25, 105, 170, 0.904);
}

.carousel{
  max-height: 1000px;
  margin-bottom: 10%;
}

.image-carousel{
    max-height: 700px;
    margin-top: 10px;
}

.font-carousel{
    color: rgba(25, 105, 170, 0.904);
}

@media (max-width: 1200px) {
    .fixed-bottom{
        position: static;
    }
}